<h1 mat-dialog-title>{{ client != null ? 'Edit Client' : 'New Client'}}</h1>
<form [formGroup]="clientForm" (ngSubmit)="client != null ? editClient() : addClient()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button type="reset" mat-raised-button (click)="close()">Cancel</button>
        <button type="submit" [disabled]="!clientForm.valid" mat-raised-button color="primary">{{ client != null ? 'Edit' : 'Add'}}</button>
    </div>
</form>